<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/echsbgwhmwfpf0hrwm2yabgagdjujrtgnuksgo7xosxv01l4/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<div th:replace="fragments/navbar.html"></div>
<div class="project-container">
    <div th:replace="fragments/project-side-navigation.html"></div>
    <section id="board" class="section">
        <main class="main-content">
            <div class="header-main">
                <h1 id="sprint-name">Спринт: Название спринта</h1>
                <div class="main-content-complete-container">
                    <div class="duration-info">
                        <img src="/icons/clock.svg" alt="Иконка времени">
                        <p id="sprint-duration">Загрузка...</p>
                    </div>
                    <button class="complete-project-btn">Завершить спринт</button>
                </div>
            </div>
            <div class="header-main-wrap">
                <div class="top-bar">
                    <div class="search-bar">
                        <div class="search-field">
                            <img src="/icons/search.svg" alt="Поиск" class="search-icon">
                                <input type="text" class="search-input search-input-board" placeholder="Поиск">
                        </div>
                    </div>
                    <div class="participants-icons">
                        <button class="add-participant-btn">
                            <img src="/icons/addUser.svg" alt="Добавить участника" class="add-icon">
                        </button>
                    </div>
                    <div class="filters">
                        <select class="filter-select">
                            <option value="">Все</option>
                            <option value="done">Завершённые</option>
                            <option value="in-progress">В процессе</option>
                            <option value="todo">К выполнению</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="kanban">
                <div class="kanban-inner">
                    <div class="kanban-column">
                        <div class="kanban-column-name">
                            <span>К выполнению</span>
                        </div>
                        <div class="tusk-container">

                            <button class="add-task-btn on-board">+  Добавить задачу</button>
                        </div>
                    </div>
                    <div class="kanban-column">
                        <div class="kanban-column-name">
                            <span>В работе</span>
                        </div>
                        <div class="tusk-container">

                            <button class="add-task-btn on-board">+  Добавить задачу</button>
                        </div>
                    </div>
                    <div class="kanban-column">
                        <div class="kanban-column-name">
                            <span>Выполнено</span>
                        </div>
                        <div class="tusk-container">

                            <button class="add-task-btn on-board">+  Добавить задачу</button>
                        </div>
                    </div>
                    <div class="create-column-container">
                        <button  id="add-column-btn" class="create-column">
                            <img src="/icons/plus.svg">
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <div id="modal-container"></div>
    <template id="task-modal-template">
        <div class="task-modal-overlay">
            <div class="task-modal-container">
                <div class="task-top-content">
                    <div class="task-key-info">
                        <img class="task-type-icon" src="" alt="Тип задачи" />
                        <span>KEYS-1</span>
                    </div>
                    <div class="task-buttons">
                        <button class="close-modal">×</button>
                    </div>
                </div>
                <div class="task-modal-wrapper">
                    <div class="task-content-left">
                        <div class="task-title-wrapper">
                            <span class="task-title-modal">Название задачи</span>

                            <div class="edit-title-controls" style="display: none;">
                                <input type="text" class="edit-title-input">
                                <div class="edit-title-buttons">
                                    <button class="save-title-btn">✔</button>
                                    <button class="cancel-title-btn">✖</button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="add-file">
                            <img src="/icons/plus.svg">
                            <span>Добавить файл</span>
                        </button>
                            <div class="description-container">
                                <h2>Описание</h2>
                                <span class="description-text">Здесь будет описание задачи</span>
                                <div class="edit-description-controls" style="display: none;">
                                    <textarea class="edit-description-textarea"></textarea>
                                    <div class="edit-description-buttons">
                                        <button class="save-description-btn">✔</button>
                                        <button class="cancel-description-btn">✖</button>
                                    </div>
                                </div>
                            </div>
                        <div class="task-action">
                            <h2>Активность</h2>
                            <div class="action-nav">
                                <ul>
                                    <li>
                                        <button data-target="comments-section">Комментарии</button>
                                    </li>
                                    <li>
                                        <button data-target="history-section">История</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="activity-content">
                                <div class="comments-section section" style="display: none;">
                                        <textarea id="comments"></textarea>
                                        <button id="submit-comment-btn">Отправить</button>
                                    <div class="comments-list"></div>
<!--                                    <div class="comment-container">-->
<!--                                    </div>-->
                                </div>
                                <div class="history-section section" style="display: none;">
                                    <div class="grid-container-history">
                                        <div class="section-photo-history">
                                            <img src="icons/Group%205.svg">
                                        </div>
                                        <div class="section-action-history">
                                            <div class="action-container">
                                                <span>Винисиус Джуниор</span>
                                                <span>обновил</span>
                                                <span class="bold">Метки</span>
                                                <span>5 минут назад</span>
                                            </div>
                                        </div>
                                        <div class="section-actin-show-history">
                                            <div class="actions-show">
                                                <span class="action-before">Нет</span>
                                                <img src="/icons/arrow-right.svg">
                                                <span class="action-after">Метка 1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task-content-right">
                        <select class="select-status">
                            <option>К выполнению</option>
                            <option>В работе</option>
                            <option>Выполнено</option>
                        </select>
                        <div class="info-container">
                            <span class="info-header">Сведения</span>
                            <div class="info-inner">
                                <div class="info-tag-inner">
                                    <span>Исполнитель</span>
                                    <div class="tags-container">
                                        <div class="user-div">
                                            <img src="icons/Group%205.svg">
                                            <span>Винисиус Джуниор dasfd asdf asdf a</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="info-tag-inner">
                                    <span>Команда</span>
                                    <div class="tags-container">
                                        <span>Название команды</span>
                                    </div>
                                </div>
                                <div class="info-tag-inner">
                                    <span>Метки</span>
                                    <div class="tags-container">
                                        <div class="tags-tags">
                                            <span>Метка 1</span>
                                            <span>Метка 2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-tag-inner">
                                    <span>Доска</span>
                                    <div class="tags-container">
                                        <span>Доска Спринт 1</span>
                                    </div>
                                </div>
                                <div class="info-tag-inner">
                                    <span>Сложность</span>
                                    <div class="tags-container">
                                        <span class="difficulty">10</span>
                                    </div>
                                </div>
                                <div class="info-tag-inner">
                                    <span>Автор</span>
                                    <div class="tags-container">
                                        <div class="user-div">
                                            <img src="icons/Group%205.svg">
                                            <span>Винисиус Джуниор dasfd asdf asdf a</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="task-time-info">
                            <div class="createdAt">
                                <span>Создано</span>
                                <span>4 мая 2025 г. в 11:29</span>
                            </div>
                            <div class="editedAt">
                                <span>Изменено</span>
                                <span>4 мая 2025 г. в 11:30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<script th:src="@{/js/board.js}"></script>
</body>
</html>