<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/hello.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <title>Welcome</title>
</head>
<body>
  <div class="header">
    <a href="/login" class="button">Войти</a>
    <a href="/register" class="button">Создать аккаунт</a>
  </div>

  <div class="welcome-container">
  <div class="text-box">
    <h1>Добро пожаловать в<br> пространство, где идеи<br>становятся делами</h1>
  </div>
  </div>
  <div class="info-section">
    <div class="info-container">
      <h2>Что это за система?</h2>
      <p>
        Это пространство, где можно быстро ставить задачи, обсуждать идеи, отслеживать прогресс и делиться файлами. <br>Всё — без лишних преград.
      </p>

      <div class="features">
        <div class="feature">
          <h3>🚀 Простота и скорость</h3>
          <p>Создавайте задачи за секунды, не отвлекаясь на сложные формы и статусы.</p>
        </div>
        <div class="feature">
          <h3>🧠 Обсуждения и файлы</h3>
          <p>Обсуждайте задачи прямо в карточке, прикрепляйте файлы и не теряйтесь в чате.</p>
        </div>
        <div class="feature">
          <h3>🔁 Настройка под личные требования</h3>
          <p>Система поддерживает роли, но не навязывает правила. Вы сами решаете, как работать.</p>
        </div>
        <div class="feature">
          <h3>📊 Отчёты и спринты</h3>
          <p>Burndown-чарты, личная эффективность, и история задач — когда они реально нужны.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
