<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>

<div class="container">
    <div class="text-container">
        <h2 class="subheading">Введите email и пароль, чтобы продолжить</h2>
    </div>
    <form action="/login" method="post" class="login-form">
        <div class="input-container">
            <img src="/icons/email.svg" alt="Email icon" class="icon">
            <input id="email" type="text" class="input-email" name="username" placeholder="Введите email" required>
        </div>
        <div class="input-container">
            <img src="/icons/password.svg" alt="Lock Icon" class="icon">
            <input id="password" type="password" class="input-password" name="password" placeholder="Введите пароль" required>
        </div>
        <div th:if="${param.error}">
            <p class="error-message">Неправильный логин или пароль</p>
        </div>
        <div class="forgot-password">
            <a href="#" class="forgot-link">Забыли пароль?</a>
        </div>
        <button type="submit">Войти</button>
    </form>
    <div class="create-account">
        <a href="/register" class="create-link">Создать аккаунт</a>
    </div>
</div>
<script th:src="@{/js/login.js}">
</script>
</body>
</html>
