
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    overflow: hidden;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    border: none;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    position: fixed;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
    margin-left: 100px;
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: black;
    opacity: 0.75;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    cursor: pointer;
}


.nav-item:hover {
    background-color: #f0f0f0;
}


.nav-item:focus {
    color: #0055cc;
    text-decoration-color: #0055cc;
    background-color: #e6f2ff
}


.nav-item:focus-visible {
    outline: none;
}



.dropdown-container {
    position: relative;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, filter 0.3s;
    border-radius: 5px;
}

.dropdown-btn:hover {
    background-color: #f0f0f0;
}

.dropdown-btn:active,
.dropdown-btn:focus {
    background-color: #e6f2ff;
    color: #0055cc;
}

.dropdown-btn:active .dropdown-icon,
.dropdown-btn:focus .dropdown-icon {
    filter: brightness(0.8);
}

.dropdown-icon {
    width: 20px;
    height: 20px;
    transition: filter 0.3s;
}
.dropdown-text{
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    opacity: 0.75;
    letter-spacing: 0.2px;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
    width: 300px;
    padding: 10px 0;
    margin-top: 10px;
}


.dropdown-container:focus-within .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    opacity: 0.9;
}
.dropdown-separator {

    border-top: 1px solid #ddd;
    margin: 10px 0;
    margin-top: 75px;
}
.dropdown-header{
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    opacity: 0.9;
    margin-left: 10px;
    margin-top: 5px;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}

/* Иконки */
.icon-btn {
    font-size: 18px;
    background: none;
    color: #555;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s, filter 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-btn:hover {
    background-color: #f0f0f0;
    filter: brightness(0.9);
}

.icon-btn:active,
.icon-btn:focus {
    filter: brightness(0.8);
}


.icons {
    display: flex;
    gap: 10px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right:100px ;
}

.search-bar {
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #DDDEDF;
    gap: 10px;
    margin-left: 20px;
}
.search-bar:focus-within{
    border-color: #3290ec;

}

.search-input {
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
    color: #333;
    width: 200px;
}

.search-input::placeholder {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.75;
    letter-spacing: 0.2px;
}

.search-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.75;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(134, 145, 162, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    height: 400px;
    margin-bottom: 270px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    margin-bottom: 50px;
}



.modal-content input {
    width: 70%;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid #DDDEDF;
    border-radius: 5px;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    font-size: 15px;
}
.modal-content input::placeholder{
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 11px;
    opacity: 0.9;
    letter-spacing: 0.2px;

}
.modal-content input:focus {
    border-color: #3290ec;
}
.modal-content textarea{
    width: 80%;
    height: 150px;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid #DDDEDF;
    border-radius: 5px;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    font-size: 15px;
    resize: none;
    overflow-y: auto;
}
.modal-content textarea:focus {
    border-color: #3290ec;
}

.modal-content label {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    display: block;
    margin-top: 25px;
}

.modal-content .required {
    color: red;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 20px;
}

.cancel-btn {
    display: flex;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    align-items: center;
}

.cancel-btn:hover {
    background-color: #DCDFE4;
}

.submit-btn {
    background: #3290ec;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    opacity: 0.9;
}

.submit-btn:hover {
    background: #0055cc;
}

.input-hint{
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size:11px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    margin-top: -15px;

}
.modal-content-large {
    width: 800px;
    height: auto;
    max-height: 90vh;
    margin-bottom: -1px;
    margin-top: -70px;
}
#project-name {
    margin-bottom: -20px;
}


/* Контейнер всего проекта */
.project-container {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Навигация слева */
.project-sidebar {
    width: 250px;
    position: fixed;
    background-color: #ffffff;
    border-right: 1px solid #DDDEDF;
    padding: 20px;
    height: calc(100vh - 75px);
    top: 75px;
    left: 0;
    z-index: 1000; /* чтобы была поверх других элементов */
    overflow-y: auto; /* если навигация длинная */
}

.project-title {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    color: black;
    opacity: 0.9;
    letter-spacing: 0.2px;
}

.project-nav h3 {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: black;
    opacity: 0.7;
    margin-bottom: 20px;
}

.project-nav ul {
    list-style: none;
    padding: 0;
}

.project-nav li {
    margin-bottom: 10px;
}

.project-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 0.9;
    letter-spacing: 0.2px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    gap: 10px;
    margin-left: -12px;
}

.project-nav a:hover,
.project-nav a:focus {
    background-color:#e6f2ff;
    color: #0055cc;
}

/* Основной контент */
.main-content {
    padding: 20px;
    margin-top: 75px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto; /* если у тебя горизонтальный скролл у канбана */
}
.section{
    flex:1;
    display: none;
}
.active-section {
    display: block;
}
/* Заголовок и кнопка */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 40px 20px;
}

.header-main h1 {
    font-size: 28px;
    font-weight: 700;
}
.main-content-complete-container{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.2px;
    opacity: 0.9;
}
.complete-project-btn {
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    background-color: #f0f0f0;
    cursor: pointer;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    opacity: 0.9;
    cursor: pointer;
}
.duration-info {
    display: flex;
    align-items: center;
    gap: 5px;
}
.complete-project-btn:hover {
    background-color: #DCDFE4;
}

/* Планирование секция */
.planning-section .tabs {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}

.tab {
    padding: 10px 0;
    cursor: pointer;
    font-weight: 500;
    color: #777;
}

.tab {
    color: #000;
    border-bottom: 2px solid #3290ec;
}

/* Спринт и задачи */
.sprint-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sprint-header h2 {
    font-size: 20px;
    font-weight: 600;
}

.start-sprint-btn {
    padding: 8px 12px;
    background-color: #3290ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.begin-sprint{
    margin-right: -20px;
}
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.task-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.task-table .task-name {
    font-weight: 500;
}

/* Кнопки добавления задач */
.add-task-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #e6e6e6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-task-btn:hover {
    background-color: #ccc;
}

/* Пустой бэклог */
.empty-backlog {
    text-align: center;
    color: #777;
    border-top: 1px solid #ddd;
    padding-top: 10px;

}

.nav-icon {
    width: 24px; /* Размер иконок */
    height: 24px;
}

.nav-icon-1 {
    width: 16px; /* Размер иконок */
    height: 16px;
}
.start-project-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    opacity: 0.9;
    cursor: pointer;
    align-self: self-end;
    margin-right: 50px;
    margin-block: 10px;

}


.start-project-btn:hover {
    background-color: #DCDFE4;
}

/* Пустой контейнер */
.empty-backlog {
    border: 2px dashed #ccc;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0.6;
    font-size: 13px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
}

/* Кнопка "Создать задачу" */
.create-task-btn-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
}

.create-task-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 15px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 10px;
}

.create-task-btn:hover {
    background-color: #DCDFE4;
}

.plus-icon {
    width: 20px;
    height: 20px;
}
.participants-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Выравнивание справа */
}

.add-participant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0055cc;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-participant-btn:hover {
    background-color: #003d99;
}
.top-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1); /* Белая иконка */
}

.add-icon {
    width: 30px;
    height: 30px;
}
.search-field {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1; /* Занимает всё доступное пространство */
}
.filters {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-select {
    padding: 8px 10px;
    border: 1px solid #DDDEDF;
    border-radius: 5px;
    font-family: "IBM Plex Sans", serif;
    font-size: 13px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.filter-select:focus {
    outline: none;
    border-color: #3290ec;
}
.kanban{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
}
.kanban-inner {
    display: flex;
    gap: 10px;
    min-height: 100%;
    flex-wrap: wrap;
    align-content: stretch;
}
.kanban-column{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 60vh;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 2px;
}
.add-task-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    /*display: none;*/
    /*visibility: hidden;*/
    margin-bottom: 10px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
    width: 100%;
}
.on-board{
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background-color: white;
}

.kanban-column:hover .add-task-btn {
    /*display: block;*/
    /*visibility: visible;*/
    opacity: 1;
    pointer-events: auto;
}

.add-task-btn:hover {
    background-color: #DCDFE4;
}
.kanban-column-name{
    display: flex;
    width: 100%;
    min-height: 3%;
    position: static;
    align-items: center;
    justify-content: flex-start;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    padding-left: 20px;
    padding-bottom: 5px;

}

.create-column-container{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;

}
.create-column{
    position: absolute;
    background-color: #D9D9D9;
    width: 100%;
    align-items: center;
    height: 100%;
    border-radius: 5px;
}
.create-column:hover{
    background-color: #C6C6C6;
}
.create-column:active{
    background-color: #8B8B8B;
}

.tusk-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 5px;
    width: 90%;
    align-items: flex-start;
    transition: 0.2s ease;
    gap: 2px;
}

.task-content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #DDDEDF;
}
.task-content:hover {
    background-color: #dddedf;
    cursor: pointer;
}
.task-name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: #172b4d;
}

.task-title {
    max-width: 80%;
    overflow: hidden;
    text-overflow: unset;
    white-space: normal;
    word-break: break-all;
    overflow-wrap: anywhere; /* главное свойство */
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.tusk-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}
.task-id {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #7a869a;
}
.tag{
    width: 15px;
    height: 15px;
}
.performer{
    width: 20px;
    height: 20px;
}
.tag-and-key{
    display: flex;
    gap: 5px;
}
.task-type-select select {
    padding: 5px;
    font-size: 14px;
}

.task-title-bs {
    font-family: "IBM Plex Sans", sans-serif;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    outline:none;
}
.task-title-bs::placeholder{
    font-weight: lighter;
}
.custom-select {
    position: relative;
    border-radius: 5px;
}
.custom-select:hover{
    background-color: #DCDFE4;
}

.selected-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.selected-option .content {
    display: flex;
    align-items: center;
}

.selected-option .content img {
    margin-right: 8px;
}

.selected-option .content span {
    display: none; /* Скрыто изначально */
}
.optionsbacklog {
    position: absolute;
    bottom: 100%;
    left: 0;
    /*display: none;*/
    width: 110px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.option:hover {
    background-color: #f0f0f0;
}

.arrow img {
    transition: transform 0.3s;
}

.arrow.open img {
    transform: rotate(180deg);
}
.task-content:focus-within {
    border: 2px solid #3290ec;
    border-radius: 5px;
}
.save-task-btn{
    border: 1px solid #DCDFE4;
    border-radius: 5px;
    display: flex;
}
.save-task-btn:hover{
    background-color: #DCDFE4;
}
.select-create-wrap-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-form:hover{
    background-color: white;
}
.highlight {
    background-color: #CFE1FD;
}