
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    overflow: hidden;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    border: none;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icons {
    display: flex;
    gap: 10px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right:100px ;
}
.search-bar:focus-within{
    border-color: #3290ec;

}

.search-input {
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
    color: #333;
    width: 200px;
}

.search-input::placeholder {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.75;
    letter-spacing: 0.2px;
}

.search-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.75;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    height: 400px;
    margin-bottom: 270px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    margin-bottom: 50px;
}



.modal-content input::placeholder{
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 11px;
    opacity: 0.9;
    letter-spacing: 0.2px;

}
.modal-content input:focus {
    border-color: #3290ec;
}

.modal-content textarea:focus {
    border-color: #3290ec;
}

.modal-content label {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    display: block;
    margin-top: 25px;
}

.modal-content .required {
    color: red;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 20px;
}



.cancel-btn:hover {
    background-color: #DCDFE4;
}


.submit-btn:hover {
    background: #0055cc;
}

.input-hint{
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size:11px;
    letter-spacing: 0.2px;
    opacity: 0.9;
    margin-top: -15px;

}
.modal-content-large {
    width: 800px;
    height: auto;
    max-height: 90vh;
    margin-bottom: -1px;
    margin-top: -70px;
}
#project-name {
    margin-bottom: -20px;
}

/* Основной контент */
.main-content {
    padding: 20px;
    margin-top: 75px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto; /* если у тебя горизонтальный скролл у канбана */
}
.section{
    flex:1;
    display: none;
}
.active-section {
    display: block;
}
/* Заголовок и кнопка */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 40px 20px;
}

.header-main h1 {
    font-size: 28px;
    font-weight: 700;
}

/* Планирование секция */
.planning-section .tabs {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}

.tab {
    padding: 10px 0;
    cursor: pointer;
    font-weight: 500;
    color: #777;
}

.tab {
    color: #000;
    border-bottom: 2px solid #3290ec;
}

/* Спринт и задачи */
.sprint-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sprint-header h2 {
    font-size: 20px;
    font-weight: 600;
}

.start-sprint-btn {
    padding: 8px 12px;
    background-color: #3290ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.begin-sprint{
    margin-right: -20px;
}
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.task-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.task-table .task-name {
    font-weight: 500;
}

/* Кнопки добавления задач */
.add-task-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #e6e6e6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-task-btn:hover {
    background-color: #ccc;
}

/* Пустой бэклог */
.empty-backlog {
    text-align: center;
    color: #777;
    border-top: 1px solid #ddd;
    padding-top: 10px;

}

.nav-icon {
    width: 24px; /* Размер иконок */
    height: 24px;
}

.nav-icon-1 {
    width: 16px; /* Размер иконок */
    height: 16px;
}



.start-project-btn:hover {
    background-color: #DCDFE4;
}

/* Кнопка "Создать задачу" */
.create-task-btn-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
}


.create-task-btn:hover {
    background-color: #DCDFE4;
}

.plus-icon {
    width: 20px;
    height: 20px;
}
.participants-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Выравнивание справа */
}


.add-participant-btn:hover {
    background-color: #003d99;
}
/*.top-bar {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*}*/
.add-icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1); /* Белая иконка */
}

.add-icon {
    width: 30px;
    height: 30px;
}
.search-field {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1; /* Занимает всё доступное пространство */
}
/*.filters {*/
/*  display: flex;*/
/*  gap: 10px;*/
/*  align-items: center;*/
/*}*/

/*.filter-select {*/
/*  padding: 8px 10px;*/
/*  border: 1px solid #DDDEDF;*/
/*  border-radius: 5px;*/
/*  font-family: "IBM Plex Sans", serif;*/
/*  font-size: 13px;*/
/*  background-color: white;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.2s ease;*/
/*}*/

/*.filter-select:focus {*/
/*  outline: none;*/
/*  border-color: #3290ec;*/
/*}*/
/*.kanban{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  overflow-x: auto;*/
/*  overflow-y: auto;*/
/*  max-height: 400px;*/
/*}*/
/*.kanban-inner {*/
/*  display: flex;*/
/*  gap: 10px;*/
/*  min-height: 100%;*/
/*  flex-wrap: wrap;*/
/*  align-content: stretch;*/
/*}*/
/*.kanban-column{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  width: 20%;*/
/*  !*height: 100%;*!*/
/*  min-height: 60vh;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  border-radius: 5px;*/
/*  background-color: white;*/
/*  padding-top: 10px;*/
/*  padding-bottom: 10px;*/
/*  gap: 2px;*/
/*}*/
/*.kanban-column-name{*/
/*  display: flex;*/
/*  width: 100%;*/
/*  min-height: 3%;*/
/*  position: static;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  font-family: "IBM Plex Sans", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*  font-size: 15px;*/
/*  letter-spacing: 0.2px;*/
/*  opacity: 0.9;*/
/*  padding-left: 20px;*/
/*  padding-bottom: 5px;*/

/*}*/
/*.create-column-container{*/
/*  display: flex;*/
/*  position: relative;*/
/*  width: 30px;*/
/*  height: 30px;*/

/*}*/
/*.create-column{*/
/*  position: absolute;*/
/*  background-color: #D9D9D9;*/
/*  width: 100%;*/
/*  align-items: center;*/
/*  height: 100%;*/
/*  border-radius: 5px;*/
/*}*/
/*.create-column:hover{*/
/*  background-color: #C6C6C6;*/
/*}*/
/*.create-column:active{*/
/*  background-color: #8B8B8B;*/
/*}*/

/*.tusk-container{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  !* position: relative; *!*/
/*  width: 90%;*/
/*  !*height: 100%;*!*/
/*  align-items: flex-start;*/
/*  transition: 0.2s ease;*/
/*  gap: 2px;*/
/*}*/

/*.task-content {*/
/*  display: flex;*/
/*  position: relative;*/
/*  flex-direction: column;*/
/*  width: 100%;*/
/*  gap: 15px;*/
/*  padding: 10px;*/
/*  box-sizing: border-box;*/
/*  border-radius: 5px;*/
/*  border: 1px solid #DDDEDF;*/
/*}*/
/*.task-content:hover {*/
/*  background-color: #dddedf;*/
/*  cursor: pointer;*/
/*}*/
.task-name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: #172b4d;
}

.tusk-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}
.task-id {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #7a869a;
}
.tag{
    width: 15px;
    height: 15px;
}
.performer{
    width: 20px;
    height: 20px;
}
.tag-and-key{
    display: flex;
    gap: 5px;
}
.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* чат занимает весь экран */
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    overflow-y: auto;
    height: 100%;
}

.chat-input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 5px; /* круглый стиль */
    font-size: 14px;
    outline: none;

}

.file-attach-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.attach-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.attach-icon:hover {
    background-color: #DCDFE4;
}

.send-button {
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.2s ease;
    display: flex
;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
}

.send-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.send-button:hover {
    background-color: #DCDFE4;

}
.messenger {
    position: fixed;
    top: 75px; /* как margin-top: 75px */
    left: 250px; /* как margin-left: 250px */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 250px); /* с учётом сайдбара */
    height: calc(100% - 75px); /* с учётом хедера */
    overflow: auto;
}


.chat-input-wrap {
    display: flex;
    width: 81%;
    height: 40px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}


.chat-input-wrap {
    position: fixed;
    bottom: 0;
    background: white;
    padding: 15px;
    border-top: 1px solid #eee;
    z-index: 10;
}

.chat-message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 1.4;
    word-break: break-word;
    display: inline-block;
    position: relative;
}

/* Сообщения отправленные пользователем */
.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
    text-align: right;
}

/* Сообщения полученные от других */
.received {
    background-color: #FFFFFF;
    align-self: flex-start;
    text-align: left;
}
