
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  border: none;
}

menu, ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icons {
  display: flex;
  gap: 10px;
}

.search-bar {
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #DDDEDF;
  gap: 10px;
}
.search-bar:focus-within{
  border-color: #3290ec;

}

.search-input {
  border: none;
  background: none;
  font-size: 16px;
  outline: none;
  color: #333;
  width: 200px;
}

.search-input::placeholder {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.75;
  letter-spacing: 0.2px;
}

.search-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.75;
}




.main-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  padding: 20px;


}

.content-container {
  width: 100%;
  max-width: 1200px;
}
.welcome-to-person{
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  opacity: 0.9;
  letter-spacing: 0.2px;
  margin-top: 10px;
  margin-left: 200px;
}
.recent-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.recent-projects-title {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  opacity: 0.9;
  margin: 30px 0px 20px 200px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left:200px;
  margin-top:20px;
}

.create-project-btn {
  display: flex;
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  font-size: 16px;
  width: 180px;
  height: 40px;
  padding: 12px 24px;
  background-color: #3290EC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;


}
.line{
  border: 1px solid #DCDFE4;
  margin-left: 200px;
  margin-right: 50px;
}
.create-project-btn:hover {
  background-color: #0055cc;
}

.last-title {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-size: 16px;
  margin: 30px 0px 30px 200px;
  letter-spacing: 0.2px;
  opacity: 0.9;
}

.tabs {
  display: flex;
  gap: 25px;
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 50px;
  border-bottom: 2px solid #DCDFE4;
}

.tab-link {
  font-family: "IBM Plex Sans", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  color: black;
  opacity: 0.75;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.tab-link:hover,
.tab-link.active,
.tab-link:focus {
  color: #0055cc;
  border-bottom: 2px solid #0055cc;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(134, 145, 162, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal:target {
  display: flex;
}


.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 600px;
  height: 400px;
  margin-bottom: 270px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h2 {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.2px;
  opacity: 0.9;
  margin-bottom: 50px;
}



.modal-content input {
  width: 70%;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
  border: 1px solid #DDDEDF;
  border-radius: 5px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
  font-size: 15px;
}
.modal-content input::placeholder{
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 11px;
  opacity: 0.9;
  letter-spacing: 0.2px;

}
.modal-content input:focus {
  border-color: #3290ec;
}
.modal-content textarea{
  width: 80%;
  height: 150px;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
  border: 1px solid #DDDEDF;
  border-radius: 5px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
  font-size: 15px;
  resize: none;
  overflow-y: auto;
}
.modal-content textarea:focus {
  border-color: #3290ec;
}

.modal-content label {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.2px;
  opacity: 0.9;
  display: block;
  margin-top: 15px;
}

.modal-content .required {
  color: red;
}

/* Кнопки */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 20px;
}

.cancel-btn {
  display: flex;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  opacity: 0.8;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  align-items: center;
}

.cancel-btn:hover {
  background-color: #DCDFE4;
}

.submit-btn {
  background: #3290ec;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  opacity: 0.9;
}

.submit-btn:hover {
  background: #0055cc;
}

.input-hint{
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-style: normal;
  font-size:11px;
  letter-spacing: 0.2px;
  opacity: 0.9;
  margin-top: -15px;

}
.modal-content-large {
  width: 800px;
  height: auto;
  max-height: 90vh;
  margin-bottom: -1px;
  margin-top: -70px;
}
#project-name {
  margin-bottom: -20px;
}
.last-section{
  flex: 1;
  width: 100%;
}

.create-project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-width: 300px;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 30px 0px 0px 200px;
}

.create-project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.create-project-card h3 {
  font-size: 18px;
  color: black;
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.create-project-card p {
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: black;
  opacity: 0.8;
}

.create-project-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #3290EC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.create-project-btn:hover {
  background-color: #0055cc;
}

.in-progress-info{
  display: flex;
  font-family: "IBM Plex Sans", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  align-items: center;
  opacity: 0.8;
  color: black;
  justify-content: center;
  margin-top: 50px;
  margin-left: 200px;
}
.project-card {
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 30px;
  height: 200px;
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-link {
  text-decoration: none;
  color: inherit;
}
.recent-projects-container{
  display: flex;
  flex-direction: row;
  max-width: 95%;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 5px;
}
.recent-projects-list{
  display: flex;
  gap: 5px;
  padding-right: 10px;
}
.link-header{
  font-size: 20px;
  font-weight: 600;
}
.tasks-margin{
  margin-top: 10px;
}